body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 375px;
  width: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #19213b;
  overflow-x: hidden;
  transition: 0.3s ease;
  padding-top: 30px;
}

.sidebar a {
  padding: 12px 1px 1px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar h4 {
  padding: 1px 1px 1px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #dfa925;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
	position: relative;
  font-size: 20px;
  cursor: pointer;
  background-color: #19213b;
  color: white;
	padding: 10px 15px;
	border: none;
	 margin-left: -34px;
}

.openbtn:hover {
  background-color: #eae3ea;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
